<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Ma session
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
	</head>
	<body>
		{% for message in app.session.flashBag.get('succes') %}
			<div class="has-text-success">{{message}}</div>
		{% endfor %}
		{% for message in app.session.flashBag.get('danger') %}
			<div class="has-text-danger">{{message}}</div>
		{% endfor %}
		{% for message in app.session.flashBag.get('info') %}
			<div class="has-text-info">{{message}}</div>
		{% endfor %}
		<h1>
			Mon todo liste
		</h1>
		{% for cle,contenu in app.session.get('todo') %}
			<p>
				{{cle}}:{{contenu}}
				<p/>
			{% endfor %}
		</body>
	</body>
</html>
